<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="flaskRest Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Vimal\DT\Sample\flaskREST\venv\Scripts\python.exe|C:\Vimal\DT\Sample\flaskREST\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="myapp.app" />
    <add key="PYTHONPATH" value="C:\Vimal\DT\Sample\flaskREST" />
  </appSettings>
</configuration>
